{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}">
        <title>
            {% block title %}
            Document
            {% endblock %}
        </title>
    </head>
    <body>
        <header>
            <a href="{% url 'index' %}">
                <img src="{% static 'shop/logo.png' %}" alt="Indumentaria Online"/>
            </a>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
    <footer>
        Copyright indumentariaonline.com @ 
    </footer>
</html>