@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');

* {
    background-color: #ccc;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 400;
}

table {
    border: 2px solid #000;
    background-color: rgb(187, 58, 58);
}

table td,th {
    background-color: rgb(187, 58, 58);
    font-weight: 300;   
}

.contacto {
    color: rgb(187, 58, 58);
}

.nuevaRemera input {
    background-color: #fff;
}